{% extends "base.html" %} {% block content %} {% load static %} 


<section style="height: fit-content;" class="content">
    <div class="header">
        <img src="{% static 'img/twitter.png' %}" alt=""
        style="width:60px"/>
        <h3>Edit</h3>
    </div>
    <section  class="post_form">
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

          <input type="text" name="name" placeholder="Name" value="{{post.name}}" required>
          <input type="body" name="body" placeholder="What's Happening?" value="{{post.body}}" required />
          <img src="{{post.image.url}}" style="width: 80%; border-radius:10px;" alt="">
          <input type="file" name="image" id="file"/>
          <div class="edit-btn">
            <input type="submit" value="Tweet" id="btn" />
          <a href="/">
            <input type="button" value="Cancel" id="btn" />

          </a>
          </div>
          

        </form>

    </section>

       
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
<script src="{% static 'js/posts.js' %}"></script>
</section>


{% endblock %}